@import '~antd/dist/antd.less';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

.navigation-item {
  color: rgba(255, 255, 255, 0.65);
  padding: 0 20px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;

  &.active, &:hover {
    color: #fff;
    background-color: #1890ff;
  }
}